body {

  background-color: gray;

  width: 80%;

  margin: auto;

  margin-top: 100px;

  margin-bottom: 100px;

  color: black;

container {

	display: grid;

	grid-gap: 10px;

	grid-template-areas: 

	"header header"

	"summary summary"

	"languages languages"

	"professional professional"

	"education education";

}	

header {

	grid-area: green;

	background-color: blue;

	text-align: center;

}

summary
{
	grid-area: summary;

	background-color: #383838;

	text-align:center;
}

#Languages
{
	grid-area: languages;
	background-color: #383838;
	text-align:center;
}

#PROFESIONAL
{
	grid-area: professional
	background-color: #383838;
	text-align:center;

}

#Education
{
	grid-area: EDUCATION
	background-color: #383838;
	text-align:center;
}
